* {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    /* flex-direction: column; */
    cursor: pointer;
    height: 777px;
}

.nav-list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    position: sticky;
    width: 70%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 23px 34px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a :hover {
    background-color: white;
}

.rightnav {
    width: 30%;
    /* background-color:powderblue; */
    margin: 18px auto;
    text-align: right;
    padding: 0px 23px;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background {
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-image: url('../Img/bg4.jpg');
    background-position: center center/cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    height: 73px;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.FirstHalf {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf {
    width: 30%;
}

.secondHalf img {
    width: 80%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.btn {
    padding: 2px 7px;
    margin: 2px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: medium;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 8px 12px;
    margin: 0px 5px;
    border: 3px solid black;
    border-radius: 8px;
    font-size: 11px;
    vertical-align: middle
}

.secright {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1107px;
    margin: auto;
}

.secleft {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1107px;
    margin: auto;
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 60px;
}

.secright img {
    border: 2px solid black;
    border-radius: 15px;
}

.secleft img {
    border: 2px solid black;
    border-radius: 15px;
}

p.Heading {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact {
    background-color: white;
    height: 34vh;
}

.center-text {
    align-items: center;
    padding-top: 148px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
    max-width: 62%;
    margin: 20px auto;
}

.form input {
    margin: 14px 0px;
    padding: 5px 3px;
    width: 100%;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn1 {
    background: gray;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    width: 50px;
    margin: 5px auto;
    padding: 5px;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
}

.forminputD {
    margin: 10px auto;
    padding: 30px 135px;
}

.copyfoot {
    margin: 0px 420px;
    padding: 30px 0px;
    min-height: 80vh;
    display: flex;
    font-size: 20px;
    flex-direction: column-reverse;
    /* position: fixed; bottom: 0 */
}